<body>

<nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="icon-logo"></span>
      <span class="sr-only">Land.io</span>
    </a>
    <a class="navbar-toggler hidden-md-up pull-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
      &#9776;
    </a>
    <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
      <span class="icon-user"></span>
    </a>
    <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
      <ul class="nav navbar-nav pull-right">

        <li class="nav-item nav-item-toggable active">
          <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="/saiba-mais">Saiba mais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-inverse text-center center-vertically" role="banner">
  <div class="container">
    <h1 class="display-1">404 - Página não encontrada!</h1>
  </div>
</header>
