<body>

<nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="icon-logo"></span>
      <span class="sr-only">Land.io</span>
    </a>
    <a class="navbar-toggler hidden-md-up pull-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
      &#9776;
    </a>
    <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
      <span class="icon-user"></span>
    </a>
    <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
      <ul class="nav navbar-nav pull-right">

        <li class="nav-item nav-item-toggable active">
          <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="mailto:paulo.bischof@catolicasc.org.br">Saiba mais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="jumbotron bg-inverse text-center center-vertically" role="banner">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form role="form" action="/marca/">
            <div class="form-group center-block">
              <div class="input-group">
                <h1>Como está a reputação da sua marca no Twitter?</h1>
              </div>
            </div>
            <div class="form-group center-block">
              <div class="input-group">
                <input name="brand" type="text" class="form-control form-control-lg m-b-md" placeholder="Escreva sua marca" required />
              </div>
            </div>
            <div class="form-group center-block">
              <div class="input-group">
                <input name="name" type="text" class="form-control form-control-lg m-b-md" placeholder="Escreva seu nome" required />
              </div>
            </div>
            <div class="form-group center-block">
              <div class="input-group">
                <input name="mail" type="text" class="form-control form-control-lg m-b-md" placeholder="Escreva seu e-mail" required />
              </div>
            </div>
            <div class="form-group center-block">
              <div class="input-group">
                <input value="Enviar" type="submit" class="btn btn-lg btn-info form-control form-control-lg m-b-md" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
